.profile{
    width: 280px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;

    &-img{
        text-align: center;

        img{
            width: 110px;
            border-radius: 50%;
        }
    } 

    @include small{
        width: 320px;
    }
}